PORT=5000

DATABASE_URL=
DEFAULT_PASS=

BCRYPT_SALT_ROUNDS=12

NODE_ENV=development

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=365d

# Cloudinary (Optional, for image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
